# Miscellaneous
*.class
*.log
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.pub-cache/
**/.pub/
client/mobile/build/
**/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android related
client/mobile/android/.gradle/
client/mobile/android/app/build/
client/mobile/android/local.properties
client/mobile/android/.cxx/

# iOS related
client/mobile/ios/Pods/
client/mobile/ios/.symlinks/
client/mobile/ios/Flutter/
client/mobile/ios/Podfile.lock

# Backend - Node.js
backend/node_modules/
backend/.env
backend/.env.*
backend/dist/
backend/build/
backend/*.log